/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
} 
.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#overlay {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	background: rgba(0,0,0,0);
}

#landing-page h1 {
	margin: 75px 0 0 75px;
	font-size: 100px;
}

#landing-page p {
	margin-top: -20px;
	margin-left: 81px;
	font-size: 50px;
	text-transform: lowercase;
	letter-spacing: 15px;
}

#bondi {
	padding-left: 95px;
}

#landing-page a {
	display: block;
	color: pink;
	text-align: center;
	font-size: 30px;
	margin: auto;
	margin-top: 200px;
	width: 30%;
	text-decoration: none;
}

@media (max-width: 700px) {
  #landing-page h1 {
    margin-left: -10px;
    text-align: center;
    color: #000
  }
  #landing-page p {
    margin-left: 0;
    text-align: center;
    color: #000;
  }
  #landing-page a {
    color: #000;
  }
  video {
    display: none;
  } 
  #overlay {
    background: url("../images/beachfromabove.jpg") no-repeat center center;
    background-size: cover;
  }
}

.navbar {
	font-family: 'Roboto', sans-serif;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
	padding-left: 30px;
	margin-bottom: 0;
}

.navbar-nav {
  padding-left: 50px;
}

.brand {
  font-family: 'Roboto', sans-serif;
  color: pink;
  letter-spacing: 2.5px;
}

.nav li {
	font-family: 'Roboto',sans-serif;
	padding-left: 20px;
}

.navbar-default .navbar-nav>.active>a {
	color: pink;
	font-weight: bold;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #000;
  background: pink;
 }

.navbar-toggle {
	margin-right: 30px;
}

.navbar-default .navbar-brand {
    color: pink;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.box {
	padding: 0;
}

.paragraph-box{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.paragraph-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}
.paragraph-content-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 90px;
}

.paragraph-content-inner p {
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  font-family: 'Poiret One', sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  background-color: rgba(230,230,230,0.60);
  border-radius: 15px;
  padding: 0 15px;
}

@media (min-width: 992px) and (max-width: 1260px) {
  .paragraph-content-inner p {
    font-size: 16px;
  }
  .paragraph-content-inner {
    padding: 50px; 
  }
}

@media (max-width: 650px) {
  .paragraph-content-inner p {
    font-size: 16px;
  }
  .paragraph-content-inner {
    padding: 50px; 
  }
}

.square-box:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.square-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  background: #000;
}

.square-content-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding:20px;
}

.square-content h5 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 12px;
  letter-spacing: 2.5px;
}

.bordered {
  text-transform: uppercase;
}

.bordered:before {
	content: '';
  display: block;
  height: 1px;
  width: 80px;
  background-color: #fff;
  margin: 0 auto 20px;
}

.bordered:after {
	content: '';
  display: block;
  height: 1px;
  width: 80px;
  background-color: #fff;
  margin: 20px auto 0;
}

.bordered-over:after, .bordered-over:before {
  background-color: #000;
}

.box-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.image-box, .long-image-box {
	padding: 0;
	margin: 0;
}

.row a {
	font-family: open sans;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.image-box{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.image-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}
.image-content-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding:20px;
}

.image-content-inner p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.sign-up-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #000;
  background: #fff;
}
.sign-up-content-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding:20px;
}

.sign-up-content h5 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 12px;
}

.sign-up-content-inner h6 {
	text-align: center;
	letter-spacing: 2.5px;
  padding-top: 20px;
}

.sign-up-content-inner h5 {
	text-align: center;
	color: #000;
	font-size: 18px;
	margin: 0;
	letter-spacing: 2.5px;
}

.news {
  
}

form {
	text-align: center;
  padding-top: 20px;
}

form input {
	display: block;
	margin: 0 auto;
	border-color: transparent;
	border-bottom: solid 1px black;
	text-align: center;
	padding: 10px 0;
}

.submit {
	margin-top:20px;
	padding: 0 20px;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
}

@media (max-width: 1260px) {
  .submit {
    margin-top: 10px;
  }
  form {
    padding-top: 0;
  }
  .sign-up-content-inner h6 {
    padding-top: 0;
  }
}

@media (max-width: 1152px) {
  .submit {
    margin-top: 5px;
  }
  .sign-up-content-inner h5 {
    font-size: 14px;
  }
  .sign-up-content-inner h6 {
    margin-top: 0;
  }
  form {
    padding: 0;
  }
  form input {
    padding-top: 5px;
  }
}

.hide-mobile {
	display: block;
}

@media (max-width: 750px) {
	.hide-mobile {
		display: none;
	}
}

footer {
  padding: 20px;
  font-family: sans-serif;
  background-color: #e6e6e6;
}

.social-icons {
  max-width: 600px;
  padding-left: 20px;
  margin: -15px 0 0 0;
}

 ul {
 list-style-type: none;
 }

.icon {
  float: left;
  position: relative;
  width: 60px;
  margin: 6%;
  padding-bottom: 60px;
  background-color: #e6e6e6;
}

@media (max-width: 640px) {
  .icon {
    margin:2%;
  }
}

@media all and (min-width: 640px) {
  .icon {
    width: 9%;
    padding-bottom: 9%;
  }
}

.icon:last-of-type {
  margin-right: 0;
}

.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}

.icon a:hover {
  background-color: #222;
  background-size: 0%;
  transition: all 0.2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}

.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}
.icon--facebook a {
  background-color: #e6e6e6;
  background-image: url('http://simpleicons.org/icons/facebook.svg');
}
.icon--twitter a {
  background-color: #e6e6e6;
  background-image: url('http://simpleicons.org/icons/twitter.svg');
}
.icon--instagram a {
  background-color: #e6e6e6;
  background-image: url('http://simpleicons.org/icons/instagram.svg');
}
.icon--spotify a {
  background-color: #e6e6e6;
  background-image: url('http://simpleicons.org/icons/spotify.svg');
}

.contact-details {
  border-left: solid 1px #000;
  padding-left: 30px;
}

.contact-details a {
  color: #000;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  font-size: 14px;
}

.padding {
  color: transparent;
}

.feedback {
  border-left: solid 1px #000;
  padding-left: 30px;
}

@media (max-width: 991px) {
  .feedback {
    border: none;
  }
  .contact-details {
    border: none;
  }
}

.feedback h6, .feedback p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 20px;
  letter-spacing: 2px;
}

.modal-content {
  background: url("../images/beachfromabove.jpg") no-repeat center center;
  background-size: cover;
}

.modal-header {
  border: 0;
}

.modal-body {
  padding: 10px 30px;
}

#myModalLabel {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 10px;
  letter-spacing: 3px;
  font-weight: 900;
}

.feedback-form form input, .feedback-form form textarea {
  display: block;
  margin: 10px auto;
  border-color: transparent;
  text-align: center;
  padding: 10px;
  width: 80%;
  background-color: rgba(255,255,255,0.90);
  border-radius: 10px;
}

.modal-footer {
  border: 0;
}

.modal-footer button {
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 20px;
}

.modal-footer button:hover {
  background-color: pink;
  color: #333;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0;
  letter-spacing: 2px;
}

.btn-group-lg>.btn, .btn-lg:hover {
  background-color: transparent;
  color: #000;
}

.copyright {
  font-size: 10px;
  padding: 0 20px 0 0;
  letter-spacing: 2px;
  text-align: right;
}

@media (max-width: 1152px) {
  .contact-details a {
    font-size: 12px;
  }
}

.pax {
  background: transparent;
   min-height: 700px;
}

.menu-box {
  padding-top: 200px;
}

.menu-box-content {
  max-width: 600px;
  text-align: center;
  background-color: rgba(235,235,235,0.50);
  margin: 0 auto;
  border-radius: 10px;
}

.menu-box-content h6 {
  margin: 0;
  padding: 30px 0 20px;
  font-size: 16px;
}

.menu-box-content p {
  font-family: 'Poiret One', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  text-align: justify;
}

.menu-box-content a {
  display: block;
  padding-bottom: 50px;
  color: pink;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.about-content-inner {
  text-align: center;
  letter-spacing: 2.5px;
  padding-top: 20px;
  color: #000;
}

.about-content-inner h6 {
  font-size: 14px
}

.about-content-inner h5 {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 30px;
}

.about-content-inner p {
  padding-left: 20px;
  padding-right: 20px;
}

.google-map {
  line-height: 0;
}

.box iframe {
  width: 100%;
  margin: 0;
  padding: 0 15px 0 0;
}

.news-box:after{
  content: "";
  display: block;
  padding-bottom: 50%;
}

.news-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  background: #000;
}

.news-content-inner {
/*  display: table;*/
  width: 100%;
  height: 50%;
  padding:20px;
}

.news-content-inner h5 {
  /*display: table-cell;*/
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.news-content-inner h6 {
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 2.5px
}

.news-content-inner p {
  padding: 10px 50px;
  text-transform: justify;
  font-size: 14px;
}

@media (min-width: 992px) and (max-width: 1260px) {
  .news-content-inner {
    padding: 10px;
  }
  .news-content-inner h5 {
    font-size: 12px;
  }
  .news-content-inner h6 {
    font-size: 10px; 
  }
  .news-content-inner p {
    padding: 10px 30px;
    font-size: 12px;
  }
}
